<!-- repository Grid -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="bg-light page-section" id="{{ site.data.sitetext.repository.section | default: "repository" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].repository.title | markdownify | default: "repository" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].repository.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
	{% for project in site.repository %}
	<div class="col-md-4 col-sm-6 repository-item">
		<a class="repository-link" data-toggle="modal" href="#p{{ forloop.index }}">
			<div class="repository-hover">
				<div class="repository-hover-content">
          <h4>{{ project.title  }}</h4>
          <p>{{ project.subtitle }}</p>
				</div>
      </div>
		</a>
	</div>
	{% endfor %}
    </div>
  </div>
</section>
{% else %}
<section class="bg-light page-section" id="{{ site.data.sitetext.repository.section | default: "repository" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.repository.title | markdownify | default: "repository" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.repository.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
	{% for project in site.repository %}
      <div class="col-md-4 col-sm-6 repository-item">
        <a class="repository-link" data-toggle="modal" href="#p{{ forloop.index }}">
          <div class="repository-hover">
            <div class="repository-hover-content">
              <i class="{{ site.data.style.repository-icon | default: "fas fa-plus fa-3x" }}"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{ project.caption.thumbnail }}" alt="">
        </a>
        <div class="repository-caption">
          <h4>{{ project.caption.title }}</h4>
          <p class="text-muted">{{ project.caption.subtitle }}</p>
        </div>
      </div>
	{% endfor %}
    </div>
  </div>
</section>
{% endif %}
{% include modals.html %}
